<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.mapper.etcSVMapper">

    <insert id="insertEtcErpSVMainData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVMain"
            useGeneratedKeys="true" keyProperty="etcMainId">

        <selectKey keyProperty="etcErpSVId" resultType="long" order="BEFORE">
            SELECT IFNULL(MAX(ETC_SV_ID)+1,402) FROM ETC_ERP_SV_MAIN AS ETC_SV_ID
        </selectKey>

        /* insertEtcErpSVMainData : */

        INSERT INTO ETC_ERP_SV_MAIN (

                 ETC_MAIN_ID
                ,ETC_SV_ID
                ,ETC_SV_CD
                ,ETC_SV_OS
                ,ETC_SV_IP
                ,ETC_SV_CPU_USAGE
                ,ETC_SV_MEM_USAGE
                ,ETC_SV_SWAP_USAGE
                ,ETC_SV_DATETIME

        ) VALUES (

                 #{etcMainId}
                ,#{etcErpSVId}
                ,#{etcSVCd}
                ,#{etcSVOs}
                ,#{etcSVIp}
                ,#{etcSVCpuUsage}
                ,#{etcSVMemUsage}
                ,#{etcSVSwapUsage}
                ,#{etcSVDateTime}

        )
    </insert>

    <insert id="insertEtcErpSVProcData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVProcChk"
            useGeneratedKeys="true" keyProperty="etcSVProcId">

        /* insertEtcErpSVProcData : */

        INSERT INTO ETC_ERP_SV_PROCESS (

                 ETC_SV_PROC_ID
                ,ETC_SV_ID
                ,ETC_SV_PROC_CD
                ,ETC_SV_PROC_CHK

        ) VALUES (

                 #{etcSVProcId}
                ,#{etcErpSVId}
                ,#{etcSVProcCd}
                ,#{etcSVProcData}
        )
    </insert>


    <insert id="insertEtcErpSVDiskData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVDiskUsage"
            useGeneratedKeys="true" keyProperty="etcSVDiskId">

        /* insertEtcErpSVDiskData : */

        INSERT INTO ETC_ERP_SV_DISK (

                 ETC_SV_DISK_ID
                ,ETC_SV_ID
                ,ETC_SV_DISK_CD
                ,ETC_SV_DISK_USAGE

        ) VALUES (

                 #{etcSVDiskId}
                ,#{etcErpSVId}
                ,#{etcSVDiskCd}
                ,#{etcSVDiskData}
        )
    </insert>

    <insert id="insertEtcEhrSVMainData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVMain"
            useGeneratedKeys="true" keyProperty="etcMainId">

        <selectKey keyProperty="etcEhrSVId" resultType="long" order="BEFORE">
            SELECT IFNULL(MAX(ETC_SV_ID)+1,402) FROM ETC_EHR_SV_MAIN AS ETC_SV_ID
        </selectKey>

        /* insertEtcEhrSVMainData : */

        INSERT INTO ETC_EHR_SV_MAIN (

             ETC_MAIN_ID
            ,ETC_SV_ID
            ,ETC_SV_CD
            ,ETC_SV_OS
            ,ETC_SV_IP
            ,ETC_SV_CPU_USAGE
            ,ETC_SV_MEM_USAGE
            ,ETC_SV_SWAP_USAGE
            ,ETC_SV_DATETIME

        ) VALUES (

             #{etcMainId}
            ,#{etcEhrSVId}
            ,#{etcSVCd}
            ,#{etcSVOs}
            ,#{etcSVIp}
            ,#{etcSVCpuUsage}
            ,#{etcSVMemUsage}
            ,#{etcSVSwapUsage}
            ,#{etcSVDateTime}

        )
    </insert>

    <insert id="insertEtcEhrSVProcData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVProcChk"
            useGeneratedKeys="true" keyProperty="etcSVProcId">

        /* insertEtcEhrSVProcData : */

        INSERT INTO ETC_EHR_SV_PROCESS (

             ETC_SV_PROC_ID
            ,ETC_SV_ID
            ,ETC_SV_PROC_CD
            ,ETC_SV_PROC_CHK

        ) VALUES (

             #{etcSVProcId}
            ,#{etcEhrSVId}
            ,#{etcSVProcCd}
            ,#{etcSVProcData}
        )
    </insert>


    <insert id="insertEtcEhrSVDiskData" parameterType="com.damg.upit.monitor.dailyCheck.domain.etcServerMonitor.model.MInsertEtcSVDiskUsage"
            useGeneratedKeys="true" keyProperty="etcSVDiskId">

        /* insertEtcEhrSVDiskData : */

        INSERT INTO ETC_EHR_SV_DISK(
             ETC_SV_DISK_ID
            ,ETC_SV_ID
            ,ETC_SV_DISK_CD
            ,ETC_SV_DISK_USAGE

        ) VALUES (

             #{etcSVDiskId}
            ,#{etcEhrSVId}
            ,#{etcSVDiskCd}
            ,#{etcSVDiskData}
        )
    </insert>


</mapper>