<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>일일점검일지(ERP) 수정</title>
</head>

<script>
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      if(this.readyState == 4 && this.status == 200){

        getXmlData(this);
      }
    }
    xhr.open("GET" ,"donga-devwas.xml",true);
    xhr.send();

  function getXmlData(xml) {
    var num, name;
    var num, name;
    var txt, ntxt, xmlDoc;

    //this.reponseText와 비슷.
    xmlData = xml.responseXML;

    console.log(xmlData);

    const hostname = xmlData.getElementsByTagName("hostname");
    const hostnameValue =  hostname[0].childNodes[0].nodeValue;

    console.log("hostname: " + hostnameValue);


    const date = xmlData.getElementsByTagName("date");
    const dateValue = date[0].childNodes[0].nodeValue;

    console.log("date: " + dateValue);

    const time = xmlData.getElementsByTagName("time");
    const timeValue = time[0].childNodes[0].nodeValue

    console.log("time: " + timeValue);

    const osver = xmlData.getElementsByTagName("osver");
    const osverValue = osver[0].childNodes[0].nodeValue;

    console.log("osver: " + osverValue);

    const ipAddr = xmlData.getElementsByTagName("ipaddr");
    const ipAddrValue = ipAddr[0].childNodes[0].nodeValue;

    console.log("ipAddress: " + ipAddrValue);
    
    console.log(" ");
    let getXmlAttribute= xmlData.documentElement.childNodes[1].childNodes;
    console.log(getXmlAttribute);

    for(i=1; i<getXmlAttribute.length; i+=2){
      console.log(xmlData.documentElement.childNodes[1].childNodes[i].firstChild.nodeValue);
    }

    let today = new Date();
    console.log(today);
};
</script>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


<form class method="post">
<div class="container-fluid container-lg mt-lg-5">

  <div class="form-row float-end">
    <button type="submit" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" >수정 완료</button>
    <button type="button" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" th:onclick="|location.href='@{/}'|">뒤로가기</button>
  </div>

  <table class="table table-bordered align-middle table-hover mt-5">
      <thead>
        <tr align="center" style="background-color: #81BEF7; ">
          <th scope="col">구분</th>
          <th scope="col">항목명</th>
          <th scope="col">운영체제</th>
          <th scope="col">체크항목</th>
          <th scope="col">이상유무</th>
          <th scope="col">비고</th>
        </tr>
      </thead>
    <tbody>

    <tr align="center" th:each="etcErpService:${etcErpService}">
      <td style="background-color: #81BEF7; font-weight:bold">서비스</td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>백업</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>-</p>
      </td>
      <td>
        <p>-</p>
        <p>-</p>
        <p>백업스케쥴</p>
      </td>
      <td>
        <p><!--추후 수정 필요 현재는 백업 서비스만 체크 진행-->
          <input class="form-check-input" type="radio" value="Y" name="etcErpMailServiceChk" id="etcErpMailServiceChkY"
                 th:checked="${etcErpService.etcErpMailServiceChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="etcErpMailServiceChk" id="etcErpMailServiceChkN"
                 th:checked="${etcErpService.etcErpMailServiceChk eq 'N'}" >
          무
        </p>
        <p><!--추후 수정 필요 현재는 백업 서비스만 체크 진행-->
          <input class="form-check-input" type="radio" value="Y" name="etcErpApproveServiceChk" id="etcErpApproveServiceChkY"
                 th:checked="${etcErpService.etcErpApproveServiceChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="etcErpApproveServiceChk" id="etcErpApproveServiceChkN"
                 th:checked="${etcErpService.etcErpApproveServiceChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="etcErpBackUpServiceChk" id="etcErpBackUpServiceChkY"
                 th:checked="${etcErpService.etcErpBackUpServiceChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="etcErpBackUpServiceChk" id="etcErpBackUpServiceChkN"
                 th:checked="${etcErpService.etcErpBackUpServiceChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="etcErpMailServiceBigo" id="etcErpMailServiceBigoInput"
               th:value="${etcErpService.etcErpMailServiceBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="etcErpApproveServiceBigo" id="etcErpApproveServiceBigoInput"
               th:value="${etcErpService.etcErpApproveServiceBigo}" >
        <input type="text" class="form-control" name="etcErpBackUpServiceBigo" id="etcErpBackUpServiceBigoInput"
               th:value="${etcErpService.etcErpBackUpServiceBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td rowspan="12" style="background-color:#81BEF7; font-weight:bold">서버</td>
      <td>CHA-ERP-LINK</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpLinkCpuUsageChk" id="chaErpLinkCpuUsageChkY"
                 th:checked="${etcErpServer.chaErpLinkCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpLinkCpuUsageChk" id="chaErpLinkCpuUsageChkN"
                 th:checked="${etcErpServer.chaErpLinkCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpLinkMemUsageChk" id="chaErpLinkMemUsageChkY"
                 th:checked="${etcErpServer.chaErpLinkMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpLinkMemUsageChk" id="chaErpLinkMemUsageChkN"
                 th:checked="${etcErpServer.chaErpLinkMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpLinkDiskUsageChk" id="chaErpLinkDiskUsageChkY"
                 th:checked="${etcErpServer.chaErpLinkDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpLinkDiskUsageChk" id="chaErpLinkDiskUsageChkN"
                 th:checked="${etcErpServer.chaErpLinkDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpLinkEventChk" id="chaErpLinkEventChkY"
                 th:checked="${etcErpServer.chaErpLinkEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpLinkEventChk" id="chaErpLinkEventChkN"
                 th:checked="${etcErpServer.chaErpLinkEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpLinkCpuUsageBigo" id="chaErpLinkCpuUsageBigoInput"
               th:value="${etcErpServer.chaErpLinkCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpLinkMemUsageBigo" id="chaErpLinkMemUsageBigoInput"
               th:value="${etcErpServer.chaErpLinkMemUsageBigo}" >
        <input type="text" class="form-control" name="chaErpLinkDiskUsageBigo" id="chaErpLinkDiskUsageBigoInput"
               th:value="${etcErpServer.chaErpLinkDiskUsageBigo}" >
        <input type="text" class="form-control" name="chaErpLinkEventBigo" id="chaErpLinkEventBigoInput"
               th:value="${etcErpServer.chaErpLinkEventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>CHA-ERP-APP-1</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp1CpuUsageChk" id="chaErpApp1CpuUsageChkY"
                 th:checked="${etcErpServer.chaErpApp1CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp1CpuUsageChk" id="chaErpApp1CpuUsageChkN"
                 th:checked="${etcErpServer.chaErpApp1CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp1MemUsageChk" id="chaErpApp1MemUsageChkY"
                 th:checked="${etcErpServer.chaErpApp1MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp1MemUsageChk" id="chaErpApp1MemUsageChkN"
                 th:checked="${etcErpServer.chaErpApp1MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp1DiskUsageChk" id="chaErpApp1DiskUsageChkY"
                 th:checked="${etcErpServer.chaErpApp1DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp1DiskUsageChk" id="chaErpApp1DiskUsageChkN"
                 th:checked="${etcErpServer.chaErpApp1DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp1EventChk" id="chaErpApp1EventChkY"
                 th:checked="${etcErpServer.chaErpApp1EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp1EventChk" id="chaErpApp1EventChkN"
                 th:checked="${etcErpServer.chaErpApp1EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpApp1CpuUsageBigo" id="chaErpApp1CpuUsageBigoInput"
               th:value="${etcErpServer.chaErpApp1CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpApp1MemUsageBigo" id="chaErpApp1MemUsageBigoInput"
               th:value="${etcErpServer.chaErpApp1MemUsageBigo}" >
        <input type="text" class="form-control" name="chaErpApp1DiskUsageBigo" id="chaErpApp1DiskUsageBigoInput"
               th:value="${etcErpServer.chaErpApp1DiskUsageBigo}" >
        <input type="text" class="form-control" name="chaErpApp1EventBigo" id="chaErpApp1EventBigoInput"
               th:value="${etcErpServer.chaErpApp1EventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>CHA-ERP-APP2</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp2CpuUsageChk" id="chaErpApp2CpuUsageChkY"
                 th:checked="${etcErpServer.chaErpApp2CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp2CpuUsageChk" id="chaErpApp2CpuUsageChkN"
                 th:checked="${etcErpServer.chaErpApp2CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp2MemUsageChk" id="chaErpApp2MemUsageChkY"
                 th:checked="${etcErpServer.chaErpApp2MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp2MemUsageChk" id="chaErpApp2MemUsageChkN"
                 th:checked="${etcErpServer.chaErpApp2MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp2DiskUsageChk" id="chaErpApp2DiskUsageChkY"
                 th:checked="${etcErpServer.chaErpApp2DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp2DiskUsageChk" id="chaErpApp2DiskUsageChkN"
                 th:checked="${etcErpServer.chaErpApp2DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpApp2EventChk" id="chaErpApp2EventChkY"
                 th:checked="${etcErpServer.chaErpApp2EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpApp2EventChk" id="chaErpApp2EventChkN"
                 th:checked="${etcErpServer.chaErpApp2EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpApp2CpuUsageBigo" id="chaErpApp2CpuUsageBigoInput"
               th:value="${etcErpServer.chaErpApp2CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpApp2MemUsageBigo" id="chaErpApp2MemUsageBigoInput"
               th:value="${etcErpServer.chaErpApp2MemUsageBigo}" >
        <input type="text" class="form-control" name="chaErpApp2DiskUsageBigo" id="chaErpApp2DiskUsageBigoInput"
               th:value="${etcErpServer.chaErpApp2DiskUsageBigo}" >
        <input type="text" class="form-control" name="chaErpApp2EventBigo" id="chaErpApp2EventBigoInput"
               th:value="${etcErpServer.chaErpApp2EventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>CHA-ERP-DB-1</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb1CpuUsageChk" id="chaErpDb1CpuUsageChkY"
                 th:checked="${etcErpServer.chaErpDb1CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb1CpuUsageChk" id="chaErpDb1CpuUsageChkN"
                 th:checked="${etcErpServer.chaErpDb1CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb1MemUsageChk" id="chaErpDb1MemUsageChkY"
                 th:checked="${etcErpServer.chaErpDb1MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb1MemUsageChk" id="chaErpDb1MemUsageChkN"
                 th:checked="${etcErpServer.chaErpDb1MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb1DiskUsageChk" id="chaErpDb1DiskUsageChkY"
                 th:checked="${etcErpServer.chaErpDb1DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb1DiskUsageChk" id="chaErpDb1DiskUsageChkN"
                 th:checked="${etcErpServer.chaErpDb1DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb1EventChk" id="chaErpDb1EventChkY"
                 th:checked="${etcErpServer.chaErpDb1EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb1EventChk" id="chaErpDb1EventChkN"
                 th:checked="${etcErpServer.chaErpDb1EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpDb1CpuUsageBigo" id="chaErpDb1CpuUsageBigoInput"
               th:value="${etcErpServer.chaErpDb1CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpDb1MemUsageBigo" id="chaErpDb1MemUsageBigoInput"
               th:value="${etcErpServer.chaErpDb1MemUsageBigo}">
        <input type="text" class="form-control" name="chaErpDb1DiskUsageBigo" id="chaErpDb1DiskUsageBigoInput"
               th:value="${etcErpServer.chaErpDb1DiskUsageBigo}">
        <input type="text" class="form-control" name="chaErpDb1EventBigo" id="chaErpDb1EventBigoInput"
               th:value="${etcErpServer.chaErpDb1EventBigo}">
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>CHA-ERP-DB-2</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb2CpuUsageChk" id="chaErpDb2CpuUsageChkY"
                 th:checked="${etcErpServer.chaErpDb2CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb2CpuUsageChk" id="chaErpDb2CpuUsageChkN"
                 th:checked="${etcErpServer.chaErpDb2CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb2MemUsageChk" id="chaErpDb2MemUsageChkY"
                 th:checked="${etcErpServer.chaErpDb2MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb2MemUsageChk" id="chaErpDb2MemUsageChkN"
                 th:checked="${etcErpServer.chaErpDb2MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb2DiskUsageChk" id="chaErpDb2DiskUsageChkY"
                 th:checked="${etcErpServer.chaErpDb2DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb2DiskUsageChk" id="chaErpDb2DiskUsageChkN"
                 th:checked="${etcErpServer.chaErpDb2DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDb2EventChk" id="chaErpDb2EventChkY"
                 th:checked="${etcErpServer.chaErpDb2EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDb2EventChk" id="chaErpDb2EventChkN"
                 th:checked="${etcErpServer.chaErpDb2EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpDb2CpuUsageBigo" id="chaErpDb2CpuUsageBigoInput"
               th:value="${etcErpServer.chaErpDb2CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpDb2MemUsageBigo" id="chaErpDb2MemUsageBigoInput"
               th:value="${etcErpServer.chaErpDb2MemUsageBigo}" >
        <input type="text" class="form-control" name="chaErpDb2DiskUsageBigo" id="chaErpDb2DiskUsageBigoInput"
               th:value="${etcErpServer.chaErpDb2DiskUsageBigo}" >
        <input type="text" class="form-control" name="chaErpDb2EventBigo" id="chaErpDb2EventBigoInput"
               th:value="${etcErpServer.chaErpDb2EventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>CHA-ERP-DEV</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDevCpuUsageChk" id="chaErpDevCpuUsageChkY"
                 th:checked="${etcErpServer.chaErpDevCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDevCpuUsageChk" id="chaErpDevCpuUsageChkN"
                 th:checked="${etcErpServer.chaErpDevCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDevMemUsageChk" id="chaErpDevMemUsageChkY"
                 th:checked="${etcErpServer.chaErpDevMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDevMemUsageChk" id="chaErpDevMemUsageChkN"
                 th:checked="${etcErpServer.chaErpDevMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDevDiskUsageChk" id="chaErpDevDiskUsageChkY"
                 th:checked="${etcErpServer.chaErpDevDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDevDiskUsageChk" id="chaErpDevDiskUsageChkN"
                 th:checked="${etcErpServer.chaErpDevDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="chaErpDevEventChk" id="chaErpDevEventChkY"
                 th:checked="${etcErpServer.chaErpDevEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="chaErpDevEventChk" id="chaErpDevEventChkN"
                 th:checked="${etcErpServer.chaErpDevEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="chaErpDevCpuUsageBigo" id="chaErpDevCpuUsageBigoInput"
               th:value="${etcErpServer.chaErpDevCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="chaErpDevMemUsageBigo" id="chaErpDevMemUsageBigoInput"
               th:value="${etcErpServer.chaErpDevMemUsageBigo}" >
        <input type="text" class="form-control" name="chaErpDevDiskUsageBigo" id="chaErpDevDiskUsageBigoInput"
               th:value="${etcErpServer.chaErpDevDiskUsageBigo}" >
        <input type="text" class="form-control" name="chaErpDevEventBigo"id="chaErpDevEventBigoInput"
               th:value="${etcErpServer.chaErpDevEventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DDC-ETI</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcEtiCpuUsageChk" id="ddcEtiCpuUsageChkY"
                 th:checked="${etcErpServer.ddcEtiCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcEtiCpuUsageChk" id="ddcEtiCpuUsageChkN"
                 th:checked="${etcErpServer.ddcEtiCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcEtiMemUsageChk" id="ddcEtiMemUsageChkY"
                 th:checked="${etcErpServer.ddcEtiMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcEtiMemUsageChk" id="ddcEtiMemUsageChkN"
                 th:checked="${etcErpServer.ddcEtiMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcEtiDiskUsageChk" id="ddcEtiDiskUsageChkY"
                 th:checked="${etcErpServer.ddcEtiDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcEtiDiskUsageChk" id="ddcEtiDiskUsageChkN"
                 th:checked="${etcErpServer.ddcEtiDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcEtiEventChk" id="ddcEtiEventChkY"
                 th:checked="${etcErpServer.ddcEtiEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcEtiEventChk" id="ddcEtiEventChkN"
                 th:checked="${etcErpServer.ddcEtiEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="ddcEtiCpuUsageBigo" id="ddcEtiCpuUsageBigoInput"
               th:value="${etcErpServer.ddcEtiCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="ddcEtiMemUsageBigo" id="ddcEtiMemUsageBigoInput"
               th:value="${etcErpServer.ddcEtiMemUsageBigo}" >
        <input type="text" class="form-control" name="ddcEtiDiskUsageBigo" id="ddcEtiDiskUsageBigoInput"
               th:value="${etcErpServer.ddcEtiDiskUsageBigo}" >
        <input type="text" class="form-control" name="ddcEtiEventBigo" id="ddcEtiEventBigoInput"
               th:value="${etcErpServer.ddcEtiEventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DDC-MIS-APP</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcMisAppCpuUsageChk" id="ddcMisAppCpuUsageChkY"
                 th:checked="${etcErpServer.ddcMisAppCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcMisAppCpuUsageChk" id="ddcMisAppCpuUsageChkN"
                 th:checked="${etcErpServer.ddcMisAppCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcMisAppMemUsageChk" id="ddcMisAppMemUsageChkY"
                 th:checked="${etcErpServer.ddcMisAppMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcMisAppMemUsageChk" id="ddcMisAppMemUsageChkN"
                 th:checked="${etcErpServer.ddcMisAppMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcMisAppDiskUsageChk" id="ddcMisAppDiskUsageChkY"
                 th:checked="${etcErpServer.ddcMisAppDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcMisAppDiskUsageChk" id="ddcMisAppDiskUsageChkN"
                 th:checked="${etcErpServer.ddcMisAppDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcMisAppEventChk" id="ddcMisAppEventChkY"
                 th:checked="${etcErpServer.ddcMisAppEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcMisAppEventChk" id="ddcMisAppEventChkN"
                 th:checked="${etcErpServer.ddcMisAppEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="ddcMisAppCpuUsageBigo" id="ddcMisAppCpuUsageBigoInput"
               th:value="${etcErpServer.ddcMisAppCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="ddcMisAppMemUsageBigo" id="ddcMisAppMemUsageBigoInput"
               th:value="${etcErpServer.ddcMisAppMemUsageBigo}" >
        <input type="text" class="form-control" name="ddcMisAppDiskUsageBigo" id="ddcMisAppDiskUsageBigoInput"
               th:value="${etcErpServer.ddcMisAppDiskUsageBigo}" >
        <input type="text" class="form-control" name="ddcMisAppEventBigo" id="ddcMisAppEventBigoInput"
               th:value="${etcErpServer.ddcMisAppEventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DDC-ERP-DB</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcErpDbCpuUsageChk" id="ddcErpDbCpuUsageChkY"
                 th:checked="${etcErpServer.ddcErpDbCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcErpDbCpuUsageChk" id="ddcErpDbCpuUsageChkN"
                 th:checked="${etcErpServer.ddcErpDbCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcErpDbMemUsageChk" id="ddcErpDbMemUsageChkY"
                 th:checked="${etcErpServer.ddcErpDbMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcErpDbMemUsageChk" id="ddcErpDbMemUsageChkN"
                 th:checked="${etcErpServer.ddcErpDbMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcErpDbDiskUsageChk" id="ddcErpDbDiskUsageChkY"
                 th:checked="${etcErpServer.ddcErpDbDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcErpDbDiskUsageChk" id="ddcErpDbDiskUsageChkN"
                 th:checked="${etcErpServer.ddcErpDbDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="ddcErpDbEventChk" id="ddcErpDbEventChkY"
                 th:checked="${etcErpServer.ddcErpDbEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="ddcErpDbEventChk" id="ddcErpDbEventChkN"
                 th:checked="${etcErpServer.ddcErpDbEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="ddcErpDbCpuUsageBigo" id="ddcErpDbCpuUsageBigoInput"
               th:value="${etcErpServer.ddcErpDbCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="ddcErpDbMemUsageBigo" id="ddcErpDbMemUsageBigoInput"
               th:value="${etcErpServer.ddcErpDbMemUsageBigo}" >
        <input type="text" class="form-control" name="ddcErpDbDiskUsageBigo" id="ddcErpDbDiskUsageBigoInput"
               th:value="${etcErpServer.ddcErpDbDiskUsageBigo}" >
        <input type="text" class="form-control" name="ddcErpDbEventBigo" id="ddcErpDbEventBigoInput"
               th:value="${etcErpServer.ddcErpDbEventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DKF-1</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf1CpuUsageChk" id="dkf1CpuUsageChkY"
                 th:checked="${etcErpServer.dkf1CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf1CpuUsageChk" id="dkf1CpuUsageChkN"
                 th:checked="${etcErpServer.dkf1CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf1MemUsageChk" id="dkf1MemUsageChkY"
                 th:checked="${etcErpServer.dkf1MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf1MemUsageChk" id="dkf1MemUsageChkN"
                 th:checked="${etcErpServer.dkf1MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf1DiskUsageChk" id="dkf1DiskUsageChkY"
                 th:checked="${etcErpServer.dkf1DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf1DiskUsageChk" id="dkf1DiskUsageChkN"
                 th:checked="${etcErpServer.dkf1DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf1EventChk" id="dkf1EventChkY"
                 th:checked="${etcErpServer.dkf1EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf1EventChk" id="dkf1EventChkN"
                 th:checked="${etcErpServer.dkf1EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="dkf1CpuUsageBigo" id="dkf1CpuUsageBigoInput"
               th:value="${etcErpServer.dkf1CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="dkf1MemUsageBigo" id="dkf1MemUsageBigoInput"
               th:value="${etcErpServer.dkf1CpuUsageBigo}" >
        <input type="text" class="form-control" name="dkf1DiskUsageBigo" id="dkf1DiskUsageBigoInput"
               th:value="${etcErpServer.dkf1DiskUsageBigo}" >
        <input type="text" class="form-control" name="dkf1EventBigo" id="dkf1EventBigoInput"
               th:value="${etcErpServer.dkf1EventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DKF-2</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf2CpuUsageChk" id="dkf2CpuUsageChkY"
                 th:checked="${etcErpServer.dkf2CpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf2CpuUsageChk" id="dkf2CpuUsageChkN"
                 th:checked="${etcErpServer.dkf2CpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf2MemUsageChk" id="dkf2MemUsageChkY"
                 th:checked="${etcErpServer.dkf2MemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf2MemUsageChk" id="dkf2MemUsageChkN"
                 th:checked="${etcErpServer.dkf2MemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf2DiskUsageChk" id="dkf2DiskUsageChkY"
                 th:checked="${etcErpServer.dkf2DiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf2DiskUsageChk" id="dkf2DiskUsageChkN"
                 th:checked="${etcErpServer.dkf2DiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dkf2EventChk" id="dkf2EventChkY"
                 th:checked="${etcErpServer.dkf2EventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dkf2EventChk" id="dkf2EventChkN"
                 th:checked="${etcErpServer.dkf2EventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="dkf2CpuUsageBigo" id="dkf2CpuUsageBigoInput"
               th:value="${etcErpServer.dkf2CpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="dkf2MemUsageBigo" id="dkf2MemUsageBigoInput"
               th:value="${etcErpServer.dkf2MemUsageBigo}" >
        <input type="text" class="form-control" name="dkf2DiskUsageBigo" id="dkf2DiskUsageBigoInput"
               th:value="${etcErpServer.dkf2DiskUsageBigo}" >
        <input type="text" class="form-control" name="dkf2EventBigo" id="dkf2EventBigoInput"
               th:value="${etcErpServer.dkf2EventBigo}" >
      </td>
    </tr>
    <tr align="center" th:each="etcErpServer:${etcErpServer}">
      <td>DongaBill</td>
      <td>윈도우</td>
      <td>
        <p>CPU 사용량</p>
        <p>메모리 사용량</p>
        <p>디스크 사용량</p>
        <p>이벤트 로그</p>
      </td>
      <td>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dongaBCpuUsageChk" id="dongaBCpuUsageChkY"
                 th:checked="${etcErpServer.dongaBCpuUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dongaBCpuUsageChk" id="dongaBCpuUsageChkN"
                 th:checked="${etcErpServer.dongaBCpuUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dongaBMemUsageChk" id="dongaBMemUsageChkY"
                 th:checked="${etcErpServer.dongaBMemUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dongaBMemUsageChk" id="dongaBMemUsageChkN"
                 th:checked="${etcErpServer.dongaBMemUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dongaBDiskUsageChk" id="dongaBDiskUsageChkY"
                 th:checked="${etcErpServer.dongaBDiskUsageChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dongaBDiskUsageChk" id="dongaBDiskUsageChkN"
                 th:checked="${etcErpServer.dongaBDiskUsageChk eq 'N'}" >
          무
        </p>
        <p>
          <input class="form-check-input" type="radio" value="Y" name="dongaBEventChk" id="dongaBEventChkY"
                 th:checked="${etcErpServer.dongaBEventChk eq 'Y'}" >
          유
          <input class="form-check-input" type="radio" value="N" name="dongaBEventChk" id="dongaBEventChkN"
                 th:checked="${etcErpServer.dongaBEventChk eq 'N'}" >
          무
        </p>
      </td>
      <td>
        <input type="text" class="form-control" name="dongaBCpuUsageBigo" id="dongaBCpuUsageBigoInput"
               th:value="${etcErpServer.dongaBCpuUsageBigo}" placeholder="이상유무 유 체크시 내역기재" >
        <input type="text" class="form-control" name="dongaBMemUsageBigo" id="dongaBMemUsageBigoInput"
               th:value="${etcErpServer.dongaBMemUsageBigo}" >
        <input type="text" class="form-control" name="dongaBDiskUsageBigo" id="dongaBDiskUsageBigoInput"
               th:value="${etcErpServer.dongaBDiskUsageBigo}" >
        <input type="text" class="form-control" name="dongaBEventBigo" id="dongaBEventBigoInput"
               th:value="${etcErpServer.dongaBEventBigo}" >
      </td>
    </tr>
    </tbody>
    </table>
</div>
</form>
</body>
</html>
