<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>일일점검일지(인프라) 입력</title>
</head>

<script>

  function getChgChk(t){

    //체크 변경시, 테이블 내 색 변경 메소드
    let checkedValue = t.value;
    console.log("checkedValue: "+ checkedValue);
    let tableChg = t.parentNode.parentNode.parentNode;
    tableChg.style.backgroundColor = (checkedValue == "Y") ?  "#FFD400" : "#FFF";
    //체크 새로고침
    refreshChk();
  }

  function getChkCnt(){

    // 해당 점검페이지 내 체크 항목 확인 메소드
    const query = 'input[class="form-check-input"]:checked';
    const data = document.querySelectorAll(query);

    let dataYCnt = 0;
    for( let i =0; i< data.length; i++){
      if(data[i].value  == "Y"){
        dataYCnt++;
      }
    }
    console.log("checkedCnt: " + dataYCnt);
    document.getElementById('dailyMainViewCnt').value = dataYCnt;
  }

  function refreshChk(){
    const query = 'input[class="form-check-input"]:checked';
    const data = document.querySelectorAll(query);
    for( let i =0; i< data.length; i++){
      if(data[i].value  == "Y"){
        target = data[i].parentNode.parentNode.parentNode;
        target.style.backgroundColor = "#FFD400";
      }
    }
  }


   window.onload = function() {
      document.getElementById('infraSubmit').onclick = function(){
        //저장 및 수정완료 진행시, 점검페이지 내 체크항목 확인 및 총 갯수 넘기기.
        getChkCnt();
        console.log("checkedCnt: "+ document.getElementById('dailyMainViewCnt').value);
      };
  };

</script>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <form class method="post">
    <div class="container-fluid container-lg mt-lg-5">

      <div class="row text-center text-dark mb-5">
        <div class="col border mt-3">
          작성자:&nbsp;
          <select class="form-select-s" th:name="admin_nm" required>
            <option value="">선택</option>
            <option th:each="adminUser : ${adminUser}"
                    th:value="${adminUser.admin_nm}"
                    th:text="${adminUser.admin_nm}" >
            </option>
          </select>
        </div>
        <div class="col border mt-3" >
          작성시간:&nbsp;
          <span th:text="${#temporals.format(createdTime,'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
      </div>

      <div class="form-row float-end">
        <button id="infraSubmit" type="submit" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" >저장</button>
        <button type="button" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" th:onclick="|location.href='@{/}'|" >뒤로가기</button>
      </div>

    <table class="table table-bordered align-middle table-hover mt-5">
      <thead>
        <tr align="center" style="background-color: #81BEF7;">
          <th scope="col">구분</th>
          <th scope="col">항목명</th>
          <th scope="col">운영체제</th>
          <th scope="col">체크항목</th>
          <th scope="col">이상유무</th>
          <th scope="col">비고</th>
        </tr>
      </thead>
      <tbody>
      <input type="hidden" id="dailyMainViewCnt" name="dailyMainViewCnt" value="">
      <form name="infraService" th:action method="post">
        <tr align="center">
          <td style="background-color: #81BEF7; font-weight:bold">서비스</td>
          <td>  
            <p>백업</p>
            <p>스팸 솔루션</p>
            <p>메일</p>
            <p>DNS</p>
          </td>
          <td> 
            <p>-</p> 
            <p>-</p>
            <p>-</p>
            <p>-</p>
          </td>
          <td> 
            <p>백업스케쥴</p> 
            <p>메일송수신</p>
            <p>메일송수신</p>
            <p>내외부 DNS</p>
          </td>
          <td> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="infraBackUpServiceChk" id="infraBackUpServiceChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="infraBackUpServiceChk" id="infraBackUpServiceChkN"
                     th:onclick="getChgChk(this)" checked>
              무
            </p> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="infraSpamServiceChk" id="infraSpamServiceChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="infraSpamServiceChk" id="infraSpamServiceChkN"
                     th:onclick="getChgChk(this)" checked>
              무  
            </p>
            <p>
                <input class="form-check-input" type="radio" value="Y" name="infraMailServiceChk" id="infraMailServiceChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="infraMailServiceChk" id="infraMailServiceChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
            </p>
            <p>
                <input class="form-check-input" type="radio" value="Y" name="infraDNSServiceChk" id="infraDNSServiceChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="infraDNSServiceChk" id="infraDNSServiceChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
          </td>
          <td>
            <input type="text" class="form-control" name="infraBackUpServiceBigo" id="infraBackUpServiceBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" name="infraSpamServiceBigo" id="infraSpamServiceBigoInput">
            <input type="text" class="form-control" name="infraMailServiceBigo" id="infraMailServiceBigoInput">
            <input type="text" class="form-control" name="infraDNSServiceBigo" id="infraDNSServiceBigoInput">
          </td>
        </tr>
        <form name="infraServer" th:action="post">
        <tr align="center">
          <td rowspan="7" style="background-color: #81BEF7; font-weight:bold">서버</td>
          <td>Nwblock-1</td>
          <td>윈도우</td>
          <td>  
            <p>CPU 사용량</p>
            <p>메모리 사용량</p>
            <p>디스크 사용량</p>
            <p>이벤트 로그</p>
            <p>V3</p>
          </td>
          <td> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1CpuUsageChk" id="nwblock1CpuUsageChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1CpuUsageChk" id="nwblock1CpuUsageChkN"
                     th:onclick="getChgChk(this)" checked>
              무
            </p> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1MemUsageChk" id="nwblock1MemUsageChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1MemUsageChk" id="nwblock1MemUsageChkN"
                     th:onclick="getChgChk(this)" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1DiskUsageChk" id="nwblock1DiskUsageChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1DiskUsageChk" id="nwblock1DiskUsageChkN"
                     th:onclick="getChgChk(this)" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1EventChk" id="nwblock1EventChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1EventChk" id="nwblock1EventChkN"
                     th:onclick="getChgChk(this)" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1V3Chk" id="nwblock1V3ChkY"
                     th:onclick="getChgChk(this)">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1V3Chk" id="nwblock1V3ChkN"
                     th:onclick="getChgChk(this)" checked>
              무
            </p>
          </td>
          <td>
            <input type="text" class="form-control" name="nwblock1CpuUsageBigo" id="nwblock1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" name="nwblock1MemUsageBigo" id="nwblock1MemUsageBigoInput">
            <input type="text" class="form-control" name="nwblock1DiskUsageBigo" id="nwblock1DiskUsageBigoInput">
            <input type="text" class="form-control" name="nwblock1EventBigo" id="nwblock1EventBigoInput">
            <input type="text" class="form-control" name="nwblock1V3Bigo" id="nwblock1V3BigoInput">
          </td>
        </tr>
        <tr align="center">
            <td>Nwblock-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2CpuUsageChk" id="nwblock2CpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2CpuUsageChk" id="nwblock2CpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2MemUsageChk" id="nwblock2MemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2MemUsageChk" id="nwblock2MemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2DiskUsageChk" id="nwblock2DiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2DiskUsageChk" id="nwblock2DiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2EventChk" id="nwblock2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2EventChk" id="nwblock2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2V3Chk" id="nwblock2V3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2V3Chk" id="nwblock2V3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="nwblock2CpuUsageBigo" id="nwblock2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="nwblock2MemUsageBigo" id="nwblock2MemUsageBigoInput">
              <input type="text" class="form-control" name="nwblock2DiskUsageBigo" id="nwblock2DiskUsageBigoInput">
              <input type="text" class="form-control" name="nwblock2EventBigo" id="nwblock2EventBigoInput">
              <input type="text" class="form-control" name="nwblock2V3Bigo" id="nwblock2V3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDC-Backup</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpCpuUsageChk" id="ddcBackUpCpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpCpuUsageChk" id="ddcBackUpCpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpMemUsageChk" id="ddcBackUpMemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpMemUsageChk" id="ddcBackUpMemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpDiskUsageChk" id="ddcBackUpDiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpDiskUsageChk" id="ddcBackUpDiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpEventChk" id="ddcBackUpEventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpEventChk" id="ddcBackUpEventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpV3Chk" id="ddcBackUpV3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpV3Chk" id="ddcBackUpV3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddcBackUpCpuUsageBigo" id="ddcBackUpCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddcBackUpMemUsageBigo" id="ddcBackUpMemUsageBigoInput">
              <input type="text" class="form-control" name="ddcBackUpDiskUsageBigo" id="ddcBackupDiskUsageBigoInput">
              <input type="text" class="form-control" name="ddcBackUpEventBigo" id="ddcBackUpEventBigoInput">
              <input type="text" class="form-control" name="ddcBackUpV3Bigo" id="ddcBackUpV3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-Backup</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpCpuUsageChk" id="chaBackUpCpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpCpuUsageChk" id="chaBackUpCpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpMemUsageChk" id="chaBackUpMemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpMemUsageChk" id="chaBackUpMemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpDiskUsageChk" id="chaBackUpDiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpDiskUsageChk" id="chaBackUpDiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpEventChk" id="chaBackUpEventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpEventChk" id="chaBackUpEventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpV3Chk" id="chaBackUpV3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpV3Chk" id="chaBackUpV3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="chaBackUpCpuUsageBigo" id="chaBackUpCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="chaBackUpMemUsageBigo" id="chaBackUpMemUsageBigoInput">
              <input type="text" class="form-control" name="chaBackUpDiskUsageBigo" id="chaBackUpDiskUsageBigoInput">
              <input type="text" class="form-control" name="chaBackUpEventBigo" id="chaBackUpEventBigoInput">
              <input type="text" class="form-control" name="chaBackUpV3Bigo" id="chaBackUpV3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>NewFile</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileCpuUsageChk" id="newFileCpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileCpuUsageChk" id="newFileCpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileMemUsageChk" id="newFileMemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileMemUsageChk" id="newFileMemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileDiskUsageChk" id="newFileDiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileDiskUsageChk" id="newFileDiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileEventChk" id="newFileEventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileEventChk" id="newFileEventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileV3Chk" id="newFileV3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileV3Chk" id="newFileV3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="newFileCpuUsageBigo" id="newFileCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="newFileMemUsageBigo" id="newFileMemUsageBigoInput">
              <input type="text" class="form-control" name="newFileDiskUsageBigo" id="newFileDiskUsageBigoInput">
              <input type="text" class="form-control" name="newFileEventBigo" id="newFileEventBigoInput">
              <input type="text" class="form-control" name="newFileV3Bigo" id="newFileV3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>AD-1</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1CpuUsageChk" id="ad1CpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1CpuUsageChk" id="ad1CpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1MemUsageChk" id="ad1MemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1MemUsageChk" id="ad1MemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1DiskUsageChk" id="ad1DiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1DiskUsageChk" id="ad1DiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1EventChk" id="ad1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1EventChk" id="ad1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1V3Chk" id="ad1V3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1V3Chk" id="ad1V3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ad1CpuUsageBigo" id="ad1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ad1MemUsageBigo" id="ad1MemUsageBigoInput">
              <input type="text" class="form-control" name="ad1DiskUsageBigo" id="ad1DiskUsageBigoInput">
              <input type="text" class="form-control" name="ad1EventBigo" id="ad1EventBigoInput">
              <input type="text" class="form-control" name="ad1V3Bigo" id="ad1V3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>AD-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2CpuUsageChk" id="ad2CpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2CpuUsageChk" id="ad2CpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2MemUsageChk" id="ad2MemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2MemUsageChk" id="ad2MemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2DiskUsageChk" id="ad2DiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2DiskUsageChk" id="ad2DiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2EventChk" id="ad2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2EventChk" id="ad2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2V3Chk" id="ad2V3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2V3Chk" id="ad2V3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ad2CpuUsageBigo" id="ad2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ad2MemUsageBigo" id="ad2MemUsageBigoInput">
              <input type="text" class="form-control" name="ad2DiskUsageBigo" id="ad2DiskUsageBigoInput">
              <input type="text" class="form-control" name="ad2EventBigo" id="ad2EventBigoInput">
              <input type="text" class="form-control" name="ad2V3Bigo" id="ad2V3BigoInput">
            </td>
          </tr>
          <form name="infraVM" th:action="post">
        <tr align="center">
            <td rowspan="2" style="background-color: #81BEF7; font-weight:bold">VM</td>
            <td>ERP-HVDC-01</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1CpuUsageChk" id="erpHvdc1CpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1CpuUsageChk" id="erpHvdc1CpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1MemUsageChk" id="erpHvdc1MemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1MemUsageChk" id="erpHvdc1MemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1DiskUsageChk" id="erpHvdc1DiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1DiskUsageChk" id="erpHvdc1DiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1EventChk" id="erpHvdc1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1EventChk" id="erpHvdc1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1V3Chk" id="erpHvdc1V3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1V3Chk" id="erpHvdc1V3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="erpHvdc1CpuUsageBigo" id="erpHvdc1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="erpHvdc1MemUsageBigo" id="erpHvdc1MemUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc1DiskUsageBigo" id="erpHvdc1DiskUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc1EventBigo" id="erpHvdc1EventBigoInput">
              <input type="text" class="form-control" name="erpHvdc1V3Bigo" id="erpHvdc1V3BigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>ERP-HVDC-02</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
              <p>V3</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2CpuUsageChk" id="erpHvdc2CpuUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2CpuUsageChk" id="erpHvdc2CpuUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2MemUsageChk" id="erpHvdc2MemUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2MemUsageChk" id="erpHvdc2MemUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2DiskUsageChk" id="erpHvdc2DiskUsageChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2DiskUsageChk" id="erpHvdc2DiskUsageChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2EventChk" id="erpHvdc2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2EventChk" id="erpHvdc2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2V3Chk" id="erpHvdc2V3ChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2V3Chk" id="erpHvdc2V3ChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="erpHvdc2CpuUsageBigo" id="erpHvdc2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="erpHvdc2MemUsageBigo" id="erpHvdc2MemUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc2DiskUsageBigo" id="erpHvdc2DiskUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc2EventBigo" id="erpHvdc2EventBigoInput">
              <input type="text" class="form-control" name="erpHvdc2V3Bigo" id="erpHvdc2V3BigoInput">
            </td>
          </tr>
          <form name="infraEtc" th:action="post">
          <tr align="center">
            <td rowspan="10" style="background-color: #81BEF7; font-weight:bold">보안 및 기타 솔루션</td>
            <td>VPN-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn1ClustChk" id="vpn1ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn1ClustChk" id="vpn1ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn1EventChk" id="vpn1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn1EventChk" id="vpn1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="vpn1ClustBigo" id="vpn1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="vpn1EventBigo" id="vpn1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>VPN-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn2ClustChk" id="vpn2ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn2ClustChk" id="vpn2ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn2EventChk" id="vpn2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn2EventChk" id="vpn2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="vpn2ClustBigo" id="vpn2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="vpn2EventBigo" id="vpn2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SSO-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso1ClustChk" id="sso1ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="sso1ClustChk" id="sso1ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso1EventChk" id="sso1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="sso1EventChk" id="sso1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="sso1ClustBigo" id="sso1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="sso1EventBigo" id="sso1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SSO-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso2ClustChk" id="sso2ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="sso2ClustChk" id="sso2ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso2EventChk" id="sso2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="sso2EventChk" id="sso2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="sso2ClustBigo" id="sso2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="sso2EventBigo" id="sso2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDoS-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos1ClustChk" id="ddos1ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos1ClustChk" id="ddos1ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos1EventChk" id="ddos1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos1EventChk" id="ddos1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddos1ClustBigo" id="ddos1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddos1EventBigo" id="ddos1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDoS-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos2ClustChk" id="ddos2ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos2ClustChk" id="ddos2ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos2EventChk" id="ddos2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos2EventChk" id="ddos2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddos2ClustBigo" id="ddos2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddos2EventBigo" id="ddos2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>FW-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw1ClustChk" id="fw1ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="fw1ClustChk" id="fw1ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw1EventChk" id="fw1EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="fw1EventChk" id="fw1EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="fw1ClustBigo" id="fw1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="fw1EventBigo" id="fw1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>FW-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw2ClustChk" id="fw2ClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="fw2ClustChk" id="fw2ClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw2EventChk" id="fw2EventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="fw2EventChk" id="fw2EventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="fw2ClustBigo" id="fw2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="fw2EventBigo" id="fw2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>지니어스모니터링</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="gMonitorClustChk" id="gMonitorClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="gMonitorClustChk" id="gMonitorClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="gMonitorEventChk" id="gMonitorEventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="gMonitorEventChk" id="gMonitorEventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="gMonitorClustBigo" id="gMonitorClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="gMonitorEventBigo" id="gMonitorEventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>ERP모니터링</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="eMonitorClustChk" id="eMonitorClustChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="eMonitorClustChk" id="eMonitorClustChkN"
                       th:onclick="getChgChk(this)" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="eMonitorEventChk" id="eMonitorEventChkY"
                       th:onclick="getChgChk(this)">
                유
                <input class="form-check-input" type="radio" value="N" name="eMonitorEventChk" id="eMonitorEventChkN"
                       th:onclick="getChgChk(this)" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="eMonitorClustBigo" id="eMonitorClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="eMonitorEventBigo" id="eMonitorEventBigoInput">
            </td>
          </tr>
          </form>
          </form>
        </form>
      </form>
    </tbody>
    </table>
</div>
</form>
</body>
</html>