<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>일일점검일지(인프라) 입력</title>
</head>

<script>
</script>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <form class method="post">
    <div class="container-fluid container-lg mt-lg-5">

      <div class="row text-center text-dark mb-5">
        <div class="col border mt-3">
          작성자:&nbsp;
          <select class="form-select-s" th:name="admin_nm" required>
            <option value="">선택</option>
            <option th:each="adminUser : ${adminUser}"
                    th:value="${adminUser.admin_nm}"
                    th:text="${adminUser.admin_nm}" >
            </option>
          </select>
        </div>
        <div class="col border mt-3" >
          작성시간:&nbsp;
          <span th:text="${#temporals.format(createdTime,'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
      </div>

      <div class="form-row float-end">
        <button type="submit" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" >저장</button>
        <button type="button" class="btn mb-3" style="background-color:#81BEF7; color: #fff;" th:onclick="|location.href='@{/}'|" >뒤로가기</button>
      </div>

    <table class="table table-bordered align-middle table-hover mt-5">
      <thead>
        <tr align="center" style="background-color: #81BEF7;">
          <th scope="col">구분</th>
          <th scope="col">항목명</th>
          <th scope="col">운영체제</th>
          <th scope="col">체크항목</th>
          <th scope="col">이상유무</th>
          <th scope="col">비고</th>
        </tr>
      </thead>
      <tbody>
      <form name="infraService" th:action method="post">
        <tr align="center">
          <td style="background-color: #81BEF7; font-weight:bold">서비스</td>
          <td>  
            <p>백업</p>
            <p>스팸 솔루션</p>
            <p>메일</p>
            <p>DNS</p>
          </td>
          <td> 
            <p>-</p> 
            <p>-</p>
            <p>-</p>
            <p>-</p>
          </td>
          <td> 
            <p>백업스케쥴</p> 
            <p>메일송수신</p>
            <p>메일송수신</p>
            <p>내외부 DNS</p>
          </td>
          <td> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="infraBackUpServiceChk" id="infraBackUpServiceChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="infraBackUpServiceChk" id="infraBackUpServiceChkN" checked>
              무
            </p> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="infraSpamServiceChk" id="infraSpamServiceChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="infraSpamServiceChk" id="infraSpamServiceChkN" checked>
              무  
            </p>
            <p>
                <input class="form-check-input" type="radio" value="Y" name="infraMailServiceChk" id="infraMailServiceChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="infraMailServiceChk" id="infraMailServiceChkN" checked>
                무  
            </p>
            <p>
                <input class="form-check-input" type="radio" value="Y" name="infraDNSServiceChk" id="infraDNSServiceChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="infraDNSServiceChk" id="infraDNSServiceChkN" checked>
                무  
              </p>
          </td>
          <td>
            <input type="text" class="form-control" name="infraBackUpServiceBigo" id="infraBackUpServiceBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" name="infraSpamServiceBigo" id="infraSpamServiceBigoInput">
            <input type="text" class="form-control" name="infraMailServiceBigo" id="infraMailServiceBigoInput">
            <input type="text" class="form-control" name="infraDNSServiceBigo" id="infraDNSServiceBigoInput">
          </td>
        </tr>
        <form name="infraServer" th:action="post">
        <tr align="center">
          <td rowspan="7" style="background-color: #81BEF7; font-weight:bold">서버</td>
          <td>Nwblock-1</td>
          <td>윈도우</td>
          <td>  
            <p>CPU 사용량</p>
            <p>메모리 사용량</p>
            <p>디스크 사용량</p>
            <p>이벤트 로그</p>
          </td>
          <td> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1CpuUsageChk" id="nwblock1CpuUsageChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1CpuUsageChk" id="nwblock1CpuUsageChkN" checked>
              무
            </p> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1MemUsageChk" id="nwblock1MemUsageChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1MemUsageChk" id="nwblock1MemUsageChkN" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1DiskUsageChk" id="nwblock1DiskUsageChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1DiskUsageChk" id="nwblock1DiskUsageChkN" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="nwblock1EventChk" id="nwblock1EventChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="nwblock1EventChk" id="nwblock1EventChkN" checked>
              무  
            </p>
          </td>
          <td>
            <input type="text" class="form-control" name="nwblock1CpuUsageBigo" id="nwblock1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" name="nwblock1MemUsageBigo" id="nwblock1MemUsageBigoInput">
            <input type="text" class="form-control" name="nwblock1DiskUsageBigo" id="nwblock1DiskUsageBigoInput">
            <input type="text" class="form-control" name="nwblock1EventBigo" id="nwblock1EventBigoInput">
          </td>
        </tr>
        <tr align="center">
            <td>Nwblock-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2CpuUsageChk" id="nwblock2CpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2CpuUsageChk" id="nwblock2CpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2MemUsageChk" id="nwblock2MemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2MemUsageChk" id="nwblock2MemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2DiskUsageChk" id="nwblock2DiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2DiskUsageChk" id="nwblock2DiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="nwblock2EventChk" id="nwblock2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="nwblock2EventChk" id="nwblock2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="nwblock2CpuUsageBigo" id="nwblock2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="nwblock2MemUsageBigo" id="nwblock2MemUsageBigoInput">
              <input type="text" class="form-control" name="nwblock2DiskUsageBigo" id="nwblock2DiskUsageBigoInput">
              <input type="text" class="form-control" name="nwblock2EventBigo" id="nwblock2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDC-Backup</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpCpuUsageChk" id="ddcBackUpCpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpCpuUsageChk" id="ddcBackUpCpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpMemUsageChk" id="ddcBackUpMemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpMemUsageChk" id="ddcBackUpMemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpDiskUsageChk" id="ddcBackUpDiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpDiskUsageChk" id="ddcBackUpDiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcBackUpEventChk" id="ddcBackUpEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcBackUpEventLog" id="ddcBackUpEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddcBackUpCpuUsageBigo" id="ddcBackUpCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddcBackUpMemUSageBigo" id="ddcBackUpMemUSageBigoInput">
              <input type="text" class="form-control" name="ddcBackUpDiskUsageBigo" id="ddcBackupDiskUsageBigoInput">
              <input type="text" class="form-control" name="ddcBackUpEventBigo" id="ddcBackUpEventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-Backup</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpCpuUsageChk" id="chaBackUpCpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpCpuUsageChk" id="chaBackUpCpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpMemUsageChk" id="chaBackUpMemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpMemUsageChk" id="chaBackUpMemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpDiskUsageChk" id="chaBackUpDiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpDiskUsageChk" id="chaBackUpDiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaBackUpEventChk" id="chaBackUpEventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaBackUpEventChk" id="chaBackUpEventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="chaBackUpCpuUsageBigo" id="chaBackUpCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="chaBackUpMemUsageBigo" id="chaBackUpMemUsageBigoInput">
              <input type="text" class="form-control" name="chaBackUpDiskUsageBigo" id="chaBackUpDiskUsageBigoInput">
              <input type="text" class="form-control" name="chaBackUpEventBigo" id="chaBackUpEventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>NewFile</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileCpuUsageChk" id="newFileCpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileCpuUsageChk" id="newFileCpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileMemUsageChk" id="newFileMemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileMemUsageChk" id="newFileMemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileDiskUsageChk" id="newFileDiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileDiskUsageChk" id="newFileDiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="newFileEventChk" id="newFileEventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="newFileEventChk" id="newFileEventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="newFileCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="newFileMemUsageBigoInput">
              <input type="text" class="form-control" id="newFileDiskUsageBigoInput">
              <input type="text" class="form-control" id="newFileEventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>AD-1</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1CpuUsage" id="ad1CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1CpuUsage" id="ad1CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1MemUsage" id="ad1MemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1MemUsage" id="ad1MemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1DiskUsage" id="ad1DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1DiskUsage" id="ad1DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad1EventLog" id="ad1EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad1EventLog" id="ad1EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="ad1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="ad1MemUsageBigoInput">
              <input type="text" class="form-control" id="ad1DiskUsageBigoInput">
              <input type="text" class="form-control" id="ad1EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>AD-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2CpuUsageChk" id="ad2CpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2CpuUsageChk" id="ad2CpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2MemUsageChk" id="ad2MemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2MemUsageChk" id="ad2MemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2DiskUsageChk" id="ad2DiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2DiskUsageChk" id="ad2DiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ad2EventChk" id="ad2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ad2EventChk" id="ad2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ad2CpuUsageBigo" id="ad2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ad2MemUsageBigo" id="ad2MemUsageBigoInput">
              <input type="text" class="form-control" name="ad2DiskUsageBigo" id="ad2DiskUsageBigoInput">
              <input type="text" class="form-control" name="ad2EventBigo" id="ad2EventBigoInput">
            </td>
          </tr>
          <form name="infraVM" th:action="post">
        <tr align="center">
            <td rowspan="2" style="background-color: #81BEF7; font-weight:bold">VM</td>
            <td>ERP-HVDC-01</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1CpuUsageChk" id="erpHvdc1CpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1CpuUsageChk" id="erpHvdc1CpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1MemUsageChk" id="erpHvdc1MemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1MemUsageChk" id="erpHvdc1MemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1DiskUsageChk" id="erpHvdc1DiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1DiskUsageChk" id="erpHvdc1DiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc1EventChk" id="erpHvdc1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc1EventChk" id="erpHvdc1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="erpHvdc1CpuUsageBigo" id="erpHvdc1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="erpHvdc1MemUsageBigo" id="erpHvdc1MemUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc1DiskUsageBigo" id="erpHvdc1DiskUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc1EventBigo" id="erpHvdc1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>ERP-HVDC-02</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2CpuUsageChk" id="erpHvdc2CpuUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2CpuUsageChk" id="erpHvdc2CpuUsageChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2MemUsageChk" id="erpHvdc2MemUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2MemUsageChk" id="erpHvdc2MemUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2DiskUsageChk" id="erpHvdc2DiskUsageChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2DiskUsageChk" id="erpHvdc2DiskUsageChkN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="erpHvdc2EventChk" id="erpHvdc2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="erpHvdc2EventChk" id="erpHvdc2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="erpHvdc2CpuUsageBigo" id="erpHvdc2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="erpHvdc2MemUsageBigo" id="erpHvdc2MemUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc2DiskUsageBigo" id="erpHvdc2DiskUsageBigoInput">
              <input type="text" class="form-control" name="erpHvdc2EventBigo" id="erpHvdc2EventBigoInput">
            </td>
          </tr>
          <form name="infraEtc" th:action="post">
          <tr align="center">
            <td rowspan="12" style="background-color: #81BEF7; font-weight:bold">보안 및 기타 솔루션</td>
            <td>VPN-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn1ClustChk" id="vpn1ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn1ClustChk" id="vpn1ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn1EventChk" id="vpn1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn1EventChk" id="vpn1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="vpn1ClustBigo" id="vpn1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="vpn1EventBigo" id="vpn1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>VPN-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn2ClustChk" id="vpn2ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn2ClustChk" id="vpn2ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="vpn2EventChk" id="vpn2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="vpn2EventChk" id="vpn2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="vpn2ClustBigo" id="vpn2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="vpn2EventBigo" id="vpn2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SSO-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso1ClustChk" id="sso1ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="sso1ClustChk" id="sso1ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso1EventChk" id="sso1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="sso1EventChk" id="sso1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="sso1ClustBigo" id="sso1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="sso1EventBigo" id="sso1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SSO-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso2ClustChk" id="sso2ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="sso2ClustChk" id="sso2ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="sso2EventChk" id="sso2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="sso2EventChk" id="sso2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="sso2ClustBigo" id="sso2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="sso2EventBigo" id="sso2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDoS-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos1ClustChk" id="ddos1ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos1ClustChk" id="ddos1ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos1EventChk" id="ddos1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos1EventChk" id="ddos1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddos1ClustBigo" id="ddos1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddos1EventBigo" id="ddos1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDoS-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos2ClustChk" id="ddos2ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos2ClustChk" id="ddos2ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddos2EventChk" id="ddos2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddos2EventChk" id="ddos2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="ddos2ClustBigo" id="ddos2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="ddos2EventBigo" id="ddos2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>FW-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw1ClustChk" id="fw1ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="fw1ClustChk" id="fw1ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw1EventChk" id="fw1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="fw1EventChk" id="fw1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="fw1ClustBigo" id="fw1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="fw1EventBigo" id="fw1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>FW-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw2ClustChk" id="fw2ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="fw2ClustChk" id="fw2ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="fw2EventChk" id="fw2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="fw2EventChk" id="fw2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="fw2ClustBigo" id="fw2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="fw2EventBigo" id="fw2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SPAM-1</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="spam1ClustChk" id="spam1ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="spam1ClustChk" id="spam1ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="spam1EventChk" id="spam1EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="spam1EventChk" id="spam1EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="spam1ClustBigo" id="spam1ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="spam1EventBigo" id="spam1EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>SPAM-2</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="spam2ClustChk" id="spam2ClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="spam2ClustChk" id="spam2ClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="spam2EventChk" id="spam2EventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="spam2EventChk" id="spam2EventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="spam2ClustBigo" id="spam2ClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="spam2EventBigo" id="spam2EventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>지니어스모니터링</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="gMonitorClustChk" id="gMonitorClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="gMonitorClustChk" id="gMonitorClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="gMonitorEventChk" id="gMonitorEventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="gMonitorEventChk" id="gMonitorEventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="gMonitorClustBigo" id="gMonitorClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="gMonitorEventBigo" id="gMonitorEventBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>ERP모니터링</td>
            <td>-</td>
            <td>  
              <p>클러스터</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="eMonitorClustChk" id="eMonitorClustChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="eMonitorClustChk" id="eMonitorClustChkN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="eMonitorEventChk" id="eMonitorEventChkY">
                유
                <input class="form-check-input" type="radio" value="N" name="eMonitorEventChk" id="eMonitorEventChkN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" name="eMonitorClustBigo" id="eMonitorClustBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" name="eMonitorEventBigo" id="eMonitorEventBigoInput">
            </td>
          </tr>
          </form>
          </form>
        </form>
      </form>
    </tbody>
    </table>
</div>
</form>
</body>
</html>