<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>일일점검일지(ERP-2)</title>
</head>

<script>

    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
      if(this.readyState == 4 && this.status == 200){

        getXmlData(this);
      }
    }
    xhr.open("GET" ,"donga-devwas.xml",true);
    xhr.send();

  function getXmlData(xml) {
    var num, name;
    var num, name;
    var txt, ntxt, xmlDoc;

    //this.reponseText와 비슷.
    xmlData = xml.responseXML;

    console.log(xmlData);

    const hostname = xmlData.getElementsByTagName("hostname");
    const hostnameValue =  hostname[0].childNodes[0].nodeValue;

    console.log("hostname: " + hostnameValue);


    const date = xmlData.getElementsByTagName("date");
    const dateValue = date[0].childNodes[0].nodeValue;

    console.log("date: " + dateValue);

    const time = xmlData.getElementsByTagName("time");
    const timeValue = time[0].childNodes[0].nodeValue

    console.log("time: " + timeValue);

    const osver = xmlData.getElementsByTagName("osver");
    const osverValue = osver[0].childNodes[0].nodeValue;

    console.log("osver: " + osverValue);

    const ipAddr = xmlData.getElementsByTagName("ipaddr");
    const ipAddrValue = ipAddr[0].childNodes[0].nodeValue;

    console.log("ipAddress: " + ipAddrValue);
    
    console.log(" ");
    let getXmlAttribute= xmlData.documentElement.childNodes[1].childNodes;
    console.log(getXmlAttribute);

    for(i=1; i<getXmlAttribute.length; i+=2){
      console.log(xmlData.documentElement.childNodes[1].childNodes[i].firstChild.nodeValue);
    }

    let today = new Date();
    console.log(today);
};

</script>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script type="text/javascript" src="./js/getFileSetting.js"></script>
<div class="container-fluid container-lg mt-lg-5">
   
    <div class="row text-center text-dark">
        <div class="col border">
            작성자:&nbsp;&nbsp;   안상형
        </div>
        <div class="col border">
            작성시간:&nbsp;&nbsp;   <script>getTime();</script>
         </div>
    </div>
   
    <table class="table table-bordered align-middle table-hover mt-5">
      <thead>
        <tr align="center" style="background-color: #81BEF7;">
          <th scope="col">구분</th>
          <th scope="col">항목명</th>
          <th scope="col">운영체제</th>
          <th scope="col">체크항목</th>
          <th scope="col">이상유무</th>
          <th scope="col">비고</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td style="background-color: #81BEF7;">서비스</td>
          <td>  
            <p></p>
            <p></p>
            <p>백업</p>
          </td>
          <td> 
            <p>-</p> 
            <p>-</p>
            <p> </p>
          </td>
          <td> 
            <p></p> 
            <p></p>
            <p>백업스케쥴</p>
          </td>
          <td> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="mailServiceChk" id="serviceMailChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="mailServiceChk" id="serviceMailChkN" checked>
              무
            </p> 
            <p><!--추후 수정 필요-->
              <input class="form-check-input" type="radio" value="Y" name="ApproveServiceChk" id="serviceApproveChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="ApproveServiceChk" id="serviceApproveChkN" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="BackUpServiceChk" id="serviceBackUpChkY">
              유
              <input class="form-check-input" type="radio" value="N" name="BackUpServiceChk" id="serviceBackUpChkN" checked>
              무  
            </p>
          </td>
          <td>
            <input type="text" class="form-control" id="mailServiceBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" id="approveServiceBigoInput">
            <input type="text" class="form-control" id="backupServiceBigoInput">
          </td>
        </tr>
        <tr align="center">
          <td rowspan="12" style="background-color:#81BEF7;">서버</td>
          <td>CHA-ERP-LINK</td>
          <td>윈도우</td>
          <td>  
            <p>CPU 사용량</p>
            <p>메모리 사용량</p>
            <p>디스크 사용량</p>
            <p>이벤트 로그</p>
          </td>
          <td> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="chaErpLinkCpuUsage" id="chaErpLinkCpuUsageY">
              유
              <input class="form-check-input" type="radio" value="N" name="chaErpLinkCpuUsage" id="chaErpLinkCpuUsageN" checked>
              무
            </p> 
            <p>
              <input class="form-check-input" type="radio" value="Y" name="chaErpLinkMemUsage" id="chaErpLinkMemUsageY">
              유
              <input class="form-check-input" type="radio" value="N" name="chaErpLinkMemUsage" id="chaErpLinkMemUsageN" checked>
              무  
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="chaErpLinkDiskUsage" id="chaErpLinkDiskUsageY">
              유
              <input class="form-check-input" type="radio" value="N" name="chaErpLinkDiskUsage" id="chaErpLinkDiskUsageN" checked>
              무
              <select class="diskUsage">
                <option>서울</option>
                <option>서</option>
              </select>
            </p>
            <p>
              <input class="form-check-input" type="radio" value="Y" name="chaErpLinkEventLog" id="chaErpLinkEventLogY">
              유
              <input class="form-check-input" type="radio" value="N" name="chaErpLinkEventLog" id="chaErpLinkEventLogN" checked>
              무  
            </p>
          </td>
          <td>
            <input type="text" class="form-control" id="chaErpLinkCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
            <input type="text" class="form-control" id="chaErpLinkMemUsageBigoInput">
            <input type="text" class="form-control" id="chaErpLinkDiskUsageBigoInput">
            <input type="text" class="form-control" id="chaErpLinkEventLogBigoInput">
          </td>
        </tr>
        <tr align="center">
            <td>CHA-ERP-APP-1</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp1CpuUsage" id="chaErpApp1CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp1CpuUsage" id="chaErpApp1CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp1MemUsage" id="chaErpApp1MemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp1MemUsage" id="chaErpApp1MemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp1DiskUsage" id="chaErpApp1DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp1DiskUsage" id="chaErpApp1DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp1EventLog" id="chaErpApp1EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp1EventLog" id="chaErpApp1EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="chaErpApp1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="chaErpApp1MemUsageBigoInput">
              <input type="text" class="form-control" id="chaErpApp1DiskUsageBigoInput">
              <input type="text" class="form-control" id="chaErpApp1EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-ERP-APP2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp2CpuUsage" id="chaErpApp2CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp2CpuUsage" id="chaErpApp2CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp2MemUsage" id="chaErpApp2MemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp2MemUsage" id="chaErpApp2MemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp2DiskUsage" id="chaErpApp2DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp2DiskUsage" id="chaErpApp2DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpApp2EventLog" id="chaErpApp2EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpApp2EventLog" id="chaErpApp2EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="chaErpApp2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="chaErpApp2MemUsageBigoInput">
              <input type="text" class="form-control" id="chaErpApp2DiskUsageBigoInput">
              <input type="text" class="form-control" id="chaErpApp2EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-ERP-DB-1</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb1CpuUsage" id="chaErpDb1CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb1CpuUsage" id="chaErpDb1CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb1MemUsage" id="chaErpDb1MemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb1MemUsage" id="chaErpDb1MemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb1DiskUsage" id="chaErpDb1DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb1DiskUsage" id="chaErpDb1DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb1EventLog" id="chaErpDb1EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb1EventLog" id="chaErpDb1EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="chaErpDb1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="chaErpDb1MemUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDb1DiskUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDb1EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-ERP-DB-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb2CpuUsage" id="chaErpDb2CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb2CpuUsage" id="chaErpDb2CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb2MemUsage" id="chaErpDb2MemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb2MemUsage" id="chaErpDb2MemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb2DiskUsage" id="chaErpDb2DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb2DiskUsage" id="chaErpDb2DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDb2EventLog" id="chaErpDb2EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDb2EventLog" id="chaErpDb2EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="chaErpDb2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="chaErpDb2MemUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDb2DiskUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDb2EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>CHA-ERP-DEV</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDevCpuUsage" id="chaErpDevCpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDevCpuUsage" id="chaErpDevCpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDevMemUsage" id="chaErpDevMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDevMemUsage" id="chaErpDevMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDevDiskUsage" id="chaErpDevDiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDevDiskUsage" id="chaErpDevDiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="chaErpDevEventLog" id="chaErpDevEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="chaErpDevEventLog" id="chaErpDevEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="chaErpDevCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="chaErpDevMemUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDevDiskUsageBigoInput">
              <input type="text" class="form-control" id="chaErpDevEventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDC-ETI</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcEtiCpuUsage" id="ddcEtiCpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcEtiCpuUsage" id="ddcEtiCpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcEtiMemUsage" id="ddcEtiMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcEtiMemUsage" id="ddcEtiMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcEtiDiskUsage" id="ddcEtiDiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcEtiDiskUsage" id="ddcEtiDiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcEtiEventLog" id="ddcEtiEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcEtiEventLog" id="ddcEtiEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="ddcEtiCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="ddcEtiMemUsageBigoInput">
              <input type="text" class="form-control" id="ddcEtiDiskUsageBigoInput">
              <input type="text" class="form-control" id="ddcEtiEventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDC-MIS-APP</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcMisAppCpuUsage" id="ddcMisAppCpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcMisAppCpuUsage" id="ddcMisAppCpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcMisAppMemUsage" id="ddcMisAppMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcMisAppMemUsage" id="ddcMisAppMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcMisAppDiskUsage" id="ddcMisAppDiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcMisAppDiskUsage" id="ddcMisAppDiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcMisAppEventLog" id="ddcMisAppEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcMisAppEventLog" id="ddcMisAppEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="ddcMisAppCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="ddcMisAppMemUsageBigoInput">
              <input type="text" class="form-control" id="ddcMisAppDiskUsageBigoInput">
              <input type="text" class="form-control" id="ddcMisAppEventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DDC-ERP-DB</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcErpDbCpuUsage" id="ddcErpDbCpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcErpDbCpuUsage" id="ddcErpDbCpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcErpDbMemUsage" id="ddcErpDbMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcErpDbMemUsage" id="ddcErpDbMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcErpDbDiskUsage" id="ddcErpDbDiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcErpDbDiskUsage" id="ddcErpDbDiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="ddcErpDbEventLog" id="ddcErpDbEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="ddcErpDbEventLog" id="ddcErpDbEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="ddcErpDbCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="ddcErpDbMemUsageBigoInput">
              <input type="text" class="form-control" id="ddcErpDbDiskUsageBigoInput">
              <input type="text" class="form-control" id="ddcErpDbEventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DKF-1</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf1CpuUsage" id="dkf1CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf1CpuUsage" id="dkf1CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf1WebMemUsage" id="dkf1WebMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf1WebMemUsage" id="dkf1WebMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf1DiskUsage" id="dkf1DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf1DiskUsage" id="dkf1DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf1EventLog" id="dkf1EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf1EventLog" id="dkf1EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="dkf1CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="dkf1MemUsageBigoInput">
              <input type="text" class="form-control" id="dkf1DiskUsageBigoInput">
              <input type="text" class="form-control" id="dkf1EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DKF-2</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf2CpuUsage" id="dkf2CpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf2CpuUsage" id="dkf2CpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf2WebMemUsage" id="dkf2WebMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf2WebMemUsage" id="dkf2WebMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf2DiskUsage" id="dkf2DiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf2DiskUsage" id="dkf2DiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dkf2EventLog" id="dkf2EventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="dkf2EventLog" id="dkf2EventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="dkf2CpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="dkf2MemUsageBigoInput">
              <input type="text" class="form-control" id="dkf2DiskUsageBigoInput">
              <input type="text" class="form-control" id="dkf2EventLogBigoInput">
            </td>
          </tr>
          <tr align="center">
            <td>DongaBill</td>
            <td>윈도우</td>
            <td>  
              <p>CPU 사용량</p>
              <p>메모리 사용량</p>
              <p>디스크 사용량</p>
              <p>이벤트 로그</p>
            </td>
            <td> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dongaBillCpuUsage" id="dongaBillCpuUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dongaBillCpuUsage" id="dongaBillCpuUsageN" checked>
                무
              </p> 
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dongaBillMemUsage" id="dongaBillMemUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dongaBillMemUsage" id="dongaBillMemUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dongaBillDiskUsage" id="dongaBillDiskUsageY">
                유
                <input class="form-check-input" type="radio" value="N" name="dongaBillDiskUsage" id="dongaBillDiskUsageN" checked>
                무  
              </p>
              <p>
                <input class="form-check-input" type="radio" value="Y" name="dongaBillEventLog" id="dongaBillEventLogY">
                유
                <input class="form-check-input" type="radio" value="N" name="dongaBillEventLog" id="dongaBillEventLogN" checked>
                무  
              </p>
            </td>
            <td>
              <input type="text" class="form-control" id="dongaBillCpuUsageBigoInput" placeholder="이상유무 유 체크시 내역기재">
              <input type="text" class="form-control" id="dongaBillMemUsageBigoInput">
              <input type="text" class="form-control" id="dongaBillDiskUsageBigoInput">
              <input type="text" class="form-control" id="dongaBillEventLogBigoInput">
            </td>
          </tr>
    </tbody>
    </table>
</div>
</body>
</html>
